<div xmlns="http://www.w3.org/1999/html">
	<div id="title">
		<span>JSON Editor</span>
	</div>
	<div class="editor-container">
		<div>
			<input id="url" type="text" ng-model="url" placeholder="Type the address to get JSON" />
			<span class="button" ng-click="getJSON();">Edit</span>
			<div style=" float: right; margin-right: 30%;">
				<span class="button" ng-click="saveJSON();">Save</span><span class="button cancel">Cancel</span>
			</div>
		</div>

		<tree json="test" test="kiss" ng-model="json" style="margin-left: -40px; margin-top: 30px; display: block; margin-right: 300px;"></tree>

	</div>

</div>